div.podcast {
	padding-top: 1px;
}
div.newline {
	white-space: pre-wrap;
}
div.errortop {
	margin-top: 200px;
}
.product-social-links {
    line-height: 10px;
}

.browse-pod-left {
	float: left;
}

.browse-pod-right {
	float: right;
}