div.newline {
  white-space: pre-wrap;
}
div.errortop {
  margin-top: 100px;
}
.product-social-links {
  line-height: 10px;
}

.browse-pod-left {
  float: left;
}

.browse-pod-right {
  float: right;
}

.browse-pod-dropdown {
  float: right;
  width: 15%;
  height: 42px;
  padding: 5px 5px;
  margin: 13px 10px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.create-pod-dropdown {
  float: left;
  width: 15%;
  height: 30px;
  padding: 5px 5px;
  margin: 6px 10px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.browse-pod-search-bar {
  float: right;
  height: 30px;
  margin: 20px 10px;
  padding: 3px 10px;
  font-size: 14px;
  line-height: 1;
  border-radius: 3px;
}

.create-pod-iconlink-bar {
  float: left;
  height: 30px;
  width: 25%;
  margin: 6px 10px;
  padding: 3px 5px;
  font-size: 14px;
  line-height: 1;
  border-radius: 3px;
}


.view-pod-img {
  float: right;
  width: 80px;
  height: 80px;
}

.bottom-buffer {
  margin-bottom: 10px;
}

.top-buffer {
  margin-top: 13px;
}

textarea[name="comText"] {
  resize: vertical;
}

.pod-blog {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 200;
  line-height: 1.5;
}

/* enable absolute positioning */
.inner-addon { 
  position: relative;
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
  margin-top: 4px;
}

/* align icon */
.left-addon .glyphicon  { left:  0;}
.right-addon .glyphicon { right: 0;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

.big-text-pod {
  font-size: 4em;
}

.big-text-pod-welcome {
  font-size: 6em;
}

.white, .white a {
  color: #fff;
}

.no-outline :focus {
  outline: none;
  box-shadow:none !important;
  border:1px solid #ccc !important;
}

.series-radio-txt {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: 5px;
  margin-top: 5px;
}

.fixed-panel {
  height: 400px;
  overflow-y: scroll;
}

img.pod-icon {
  width: 80px;
  height: 80px;
}

img.pod-icon-right {
  margin-right: 15px;
}

.edit-name {
  font-size: 25px;
}
