<section data-ng-controller = "RssController" ng-init = "loadFeed($event)">

        <div class="modal-header">
            <h3 class="modal-title text-center"><a href="{{FeedTitleLink}}">{{FeedTitle}}</a></h3>
        </div>
        <div class="modal-body"><!--
            <ul>
                <li ng-repeat="item in items">
                    <a ng-click="selected.item = item">{{ item }}</a>
                </li>
            </ul>-->

            <ul class="unstyled">
                <p class = "text-muted">First 10 items:</p>
                <li ng-repeat="feed in feeds.slice(1,10)">
                    <h5><a href="{{feed.link}}">{{feed.title}}</a></h5>
                    <p class="text-left">{{feed.contentSnippet}}</p>
                    <span class="small">{{feed.publishedDate}}</span>
                </li>
            </ul>
        </div>
        <div class="modal-footer">
            <button class="btn btn-warning" ng-click="cancel()">Back</button>


        </div>

    <!--Feed Page-->


    <!--<div class="row-fluid">-->
    <!--<ul class="unstyled">-->
    <!--<span class="badge badge-warning" ng-show="feeds.length > 0">{{(feeds | filter:filterText).length}} Items</span>-->
    <!--<li ng-repeat="feed in feeds | filter:filterText">-->
    <!--{{feed.length}}-->
    <!--<h5><a href="{{feed.link}}">{{feed.title}}</a></h5>-->
    <!--<p class="text-left">{{feed.contentSnippet}}</p>-->
    <!--<span class="small">{{feed.publishedDate}}</span>-->
    <!--</li>-->
    <!--</ul>-->
    <!--</div>-->
</section>
