<section data-ng-controller="HomeController" data-ng-init="find()">
	<br />
	<div style="margin-bottom: 3px">
		<a href = "feed.xml" target="_blank"><img src = "img/rss-icon.png" alt="RSS Feed Icon" /></a>
	    <a href = "" data-ng-hide = authentication.user.is_subscribe data-ng-click = subscribe()>subscribe</a>
        <span class = "text-muted" data-ng-show = authentication.user.is_subscribe><i>currently subscribing</i></span>
        <span class="text-muted">|</span><a  href = "" data-ng-click = "modalOpen('lg')">view</a>
	</div>
	<div class="row">
		<div class="col-md-8">
			<a data-ng-repeat="podcast in podcasts" data-ng-href="#!/podcasts/{{podcast._id}}" class="list-group-item">
				<small class="list-group-item-text">
					<div class="row">
						<p class="col-md-6 text-left">
						Posted on
						<span data-ng-bind="podcast.created | date:'medium'"></span>
						by
						<span data-ng-bind="podcast.user.displayName"></span></p>
						<strong class="col-md-6 text-right">
							{{podcast.category}}, 
							<span data-ng-hide="podcast.isBlog">Episode</span>
							<span data-ng-hide="!podcast.isBlog">Blog Post</span>
						</strong>
					</div>
				</small>
				<div style="clear: both;"></div>
				<div class="row">
					<div class="pull-left col-md-10">
						<h3 class="list-group-item-heading"><strong>{{podcast.name}}</strong></h3>
						<p class="lead" data-ng-bind="podcast.blurb"></p>
					</div>
					<div class="pull-right">
						<img data-ng-hide="podcast.podIcon === ''" src={{podcast.podIcon}} alt="Icon" class="pod-icon pod-icon-right" />
					</div>
				</div>
				<div style="clear: both;"></div>
			</a>
		</div>
		<div class="col-md-4">
			<div class="row">
				<img data-ng-show="abouts[0].picture === ''" src={{defaultIcon}} alt="My Avatar" height="100%" width="100%" />
				<img data-ng-hide="abouts[0].picture === ''" src={{abouts[0].picture}} alt="Avatar" height="100%" width="100%" />
			</div>
			<br />
			<div class="row">
				<p><span id = "name" class="text-muted">Name: </span><b>{{abouts[0].name}}</b></p>
				<p><span id = "email" class="text-muted">Email: </span><b>{{abouts[0].email}}</b></p>
				<markdown id = "about" class="pod-blog" bind-from="abouts[0].about"></markdown>
			</div>
			<div class="row">
				<h2>About My Podcast</h2>
				<div class="pod-blog">
					<markdown id = "aboutPodcasts" bind-from="abouts[0].aboutPodcasts"></markdown>
				</div>
			</div>
			<br />
			<div style="clear: both;"></div>
			<br />
		</div>
	</div>
<!--initial idea of the new lay out
	<br /><br />
	<div class="jumbotron">
		<div class="big-text-pod-welcome pull-left">Hello!</div><i class="big-text-pod-welcome pull-right glyphicon glyphicon-home"></i>
		<div style="clear: both;"></div>
		<p>Welcome to my Podcast Manager website. Here, you can browse my podcasts and learn more about me. If you are an admin, make sure to sign in!</p>
		<br/>
		<p><a class="btn btn-primary btn-lg" id= "learnAboutMeButton" href="/#!/about" role="button">Learn more about me</a></t>
		<a class="btn btn-primary btn-lg" id = "browseMyPodcastsButton" href="/#!/podcasts/browse/1" role="button">Browse my podcasts and blogs</a>
		<a  data-ng-show="!(authentication.user)" id = "signInButton" class="btn btn-success btn-lg pull-right" href="/#!/signin" role="button">Sign In</a></p>
	</div>
-->
<!-- RSS Opener
    <div>

        <button class="btn btn-info" type="button" data-ng-click = "modalOpen('lg')">Open Feed</button>
        <input id = "feedSrc" type = "text"  data-ng-model = "data.feedSrc" placeholder = "Enter Rss Url">
    </div>
-->
	<!-- <div class="post row">
            <div class ="container">
				<div class="col-md-8 help img">
				</div>
				<div class="col-md-4">
						<p>
						<strong>Progress Update</strong>:
						<br/>
						<span class ="text-muted">1/26/2015</span><br/>
						As this moment, a new look from the MeanJs is introduced.<br/>
						We can update the new feature, what we changed, and what we need to take care.
						</p>
				</div>
			</div>
	</div> -->
</section>
