<section data-ng-controller="HomeController">
<!--initial idea of the new lay out-->
	<div class="post row">
            <div class ="container">
				<div class="col-md-8 help img">
				</div>
				<div class="col-md-4">
						<p>
						<strong>Progress Update</strong>:
						<br/>
						<span class ="text-muted">1/26/2015</spam><br/>
						As this moment, a new look from the MeanJs is introduced.<br/>
						We can update the new feature, what we changed, and what we need to take care.
						</p>
				</div>
			</div>
	</div>
</section>
