<section data-ng-controller="HomeController">
<!--initial idea of the new lay out-->
	<br><br>
	<div class="jumbotron">
		<div class="big-text-pod-welcome pull-left">Hello!</div><i class="big-text-pod-welcome pull-right glyphicon glyphicon-home"></i>
		<div style="clear: both;"></div>
		<p>Welcome to my Podcast Manager website. Here, you can browse my podcasts and learn more about me. If you are an admin, make sure to sign in!</p>
		<br/>
		<p><a class="btn btn-primary btn-lg" href="/#!/about" role="button">Learn more about me</a></t>
		<a class="btn btn-primary btn-lg" href="/#!/podcasts/browse/1" role="button">Browse my podcasts and blogs</a>
		<a  data-ng-show="!(authentication.user)" class="btn btn-success btn-lg pull-right" href="/#!/signin" role="button">Sign In</a></p>
	</div>


    <div>
        <!--Settring up Modal-->
        <button class="btn btn-info" type="button" data-ng-click = "modalOpen('lg')">Open Feed</button>
    </div>

        <script type="text/ng-template" id = "test.html">
            <div class="modal-header">
                <h3 class="modal-title">I'm a modal!</h3>
            </div>
            <div class="modal-body">
                <ul>
                    <li ng-repeat="item in items">
                        <a ng-click="selected.item = item">{{ item }}</a>
                    </li>
                </ul>
            </div>
            <div class="modal-footer">
                <button class="btn btn-warning" ng-click="cancel()">Back</button>
            </div>
        </script>


	<!-- <div class="post row">
            <div class ="container">
				<div class="col-md-8 help img">
				</div>
				<div class="col-md-4">
						<p>
						<strong>Progress Update</strong>:
						<br/>
						<span class ="text-muted">1/26/2015</span><br/>
						As this moment, a new look from the MeanJs is introduced.<br/>
						We can update the new feature, what we changed, and what we need to take care.
						</p>
				</div>
			</div>
	</div> -->
</section>
