<section data-ng-controller="AboutsController" data-ng-init="find()">
    <div class="page-header">
		<div class="pull-right">
			<a data-ng-show="((authentication.user) && (authentication.user.username == 'admin'))" class="btn btn-primary" href="/#!/about/edit">
				<i class="glyphicon glyphicon-edit"></i>
			</a>
		</div>
		<h1>About Me</h1>
		<small class="list-group-item-text">
			Last updated: 
			<span data-ng-bind="abouts[0].created | date:'medium'"></span>
		</small>
    </div>
	<div class="row">
		<div class="col-sm-4">
			<img data-ng-show="abouts[0].picture === ''" src="http://static.guim.co.uk/static/b6c135ec8e49127c7c87055af29b2d52c4011fc0/politics/images/defaultPoliticalPerson.gif" alt="My Avatar" height="100%" width="100%" />
			<img data-ng-hide="abouts[0].picture === ''" src={{abouts[0].picture}} alt="My Avatar" height="100%" width="100%" />
			<p data-ng-bind="abouts[0].name"></p>
			<p data-ng-bind="abouts[0].email"></p>
		</div>
		<div class="col-sm-8">
			<markdown bind-from="abouts[0].about"></markdown>
		</div>
	</div>
	<h1>About My Podcasts</h1>
	<div class="pod-blog col-md-10 col-xs-push-1">
		<markdown bind-from="abouts[0].aboutPodcasts"></markdown>
	</div>
	<h1 class="list-group-item-heading" data-ng-bind="abouts[0].name"></h1>
	<br />
	<div style="clear: both;"></div>
	<h2 class="list-group-item-heading" data-ng-hide="!abouts[0].showLast">Most Recent Posts</h2>
	<br />
	<div data-ng-hide="!abouts[0].showLast">
	<div class="row">
		<div class="col-md-6">
			<a data-ng-repeat="podcast in podcasts.slice(0,3)" data-ng-href="#!/podcasts/{{podcast._id}}" class="list-group-item">
				<small class="list-group-item-text">
					<p class="browse-pod-left">
					Posted on
					<span data-ng-bind="podcast.created | date:'medium'"></span>
					by
					<span data-ng-bind="podcast.user.displayName"></span></p>
					<strong class="browse-pod-right" data-ng-bind="podcast.category"></strong>
				</small>
				<div style="clear: both;"></div>
				<div class="pull-left">
				<h3 class="list-group-item-heading"><strong>{{podcast.name}}</strong></h3>
				<p class="lead" data-ng-bind="podcast.blurb"></p></div>
				<img data-ng-hide="podcast.podIcon === ''" src={{podcast.podIcon}} alt="Icon" style="width:80px;height:80px" class="pull-right">
				<div style="clear: both;"></div>
			</a>
		</div>
		<div class="col-md-6">
			<a data-ng-repeat="podcast in podcasts.slice(3,6)" data-ng-href="#!/podcasts/{{podcast._id}}" class="list-group-item">
				<small class="list-group-item-text">
					<p class="browse-pod-left">
					Posted on
					<span data-ng-bind="podcast.created | date:'medium'"></span>
					by
					<span data-ng-bind="podcast.user.displayName"></span></p>
					<strong class="browse-pod-right" data-ng-bind="podcast.category"></strong>
				</small>
				<div style="clear: both;"></div>
				<div class="pull-left">
				<h3 class="list-group-item-heading"><strong>{{podcast.name}}</strong></h3>
				<p class="lead" data-ng-bind="podcast.blurb"></p></div>
				<img data-ng-hide="podcast.podIcon === ''" src={{podcast.podIcon}} alt="Icon" style="width:80px;height:80px" class="pull-right">
				<div style="clear: both;"></div>
			</a>
		</div>
	</div>
	</div>
	<br /><br />

</section>
