<section data-ng-controller="AboutsController" data-ng-init="findOne(); showPreview = true;">
	<div class="page-header">
		<h1>Edit About Me</h1>
	</div>
	<div data-ng-if="((authentication.user) && (authentication.user.username == 'admin'))">
	<button class="btn btn-default" type="button" data-ng-hide="!showPreview" data-ng-click="showPreview = false">Hide Preview</button>
	<button class="btn btn-default" type="button" data-ng-hide="showPreview" data-ng-click="showPreview = true">Show Preview</button>
<!-- Updating About Me -->
	<form data-ng-submit="create()" data-ng-repeat="about in abouts" novalidate>
		<br/>
	<div class="row">
		<div class="col-md-8"  data-ng-hide="!showPreview">
			<div class="row">
				<div class="col-sm-4">
					<img data-ng-show="picture === ''" src="http://static.guim.co.uk/static/b6c135ec8e49127c7c87055af29b2d52c4011fc0/politics/images/defaultPoliticalPerson.gif" alt="My Avatar" height="100%" width="100%" />
					<img data-ng-hide="picture === ''" src={{picture}} alt="My Avatar" height="100%" width="100%" />
				</div>
				<div class="col-sm-8 pod-blog">
					<p><span class="text-muted">Name: </span><b>{{name}}</b></p>
					<p><span class="text-muted">Email: </span><b>{{email}}</b></p>
					<markdown bind-from="aboutMe"></markdown>
				</div>
				<div class="col-sm-8">
					<h2>About My Podcasts</h2>
					<div class="pod-blog">
						<markdown bind-from="aboutPodcasts"></markdown>
					</div>
				</div>
			</div>
			<br />
			<div style="clear: both;"></div>
			<br />
			<h2 class="list-group-item-heading" data-ng-hide="!showLast"><b>Most Recent Posts</b></h2>
			<br />
			<p class="text-muted" data-ng-hide="!showLast">A list of your most recent posts would be displayed here</p>
			<br />
		</div>
		<div data-ng-class="{'col-md-4': showPreview, 'col-md-12': !showPreview}">
			<fieldset>
				<div class="form-group">
					<label class="control-label" for="name">Name</label>
					<div class="controls">
						<input type="text" data-ng-model="name" name="name" id="name" class="form-control"
						 data-ng-init="name=about.name" placeholder="Name" />
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="email">Email</label>
					<div class="controls">
						<input type="text" data-ng-model="email" name="email" id="email" class="form-control"
						 data-ng-init="email=about.email" placeholder="Email" />
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="picture">Picture</label>
					<div class="controls">
						<input type="text" data-ng-model="picture" id="picture" class="form-control"
						 data-ng-init="picture=about.picture" placeholder="A link to your picture" />
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="about">About Me</label>
					<div class="controls">
						<textarea data-ng-model="aboutMe" name="aboutMe" id="aboutMe" class="form-control" cols="30" rows="5"
						 data-ng-init="aboutMe=about.about" placeholder="About Me" markdownedit></textarea>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="aboutPodcasts">About My Podcasts</label>
					<div class="controls">
						<textarea data-ng-model="aboutPodcasts" name="aboutPodcasts" id="aboutPodcasts" class="form-control"
						 cols="30" rows="10" data-ng-init="aboutPodcasts=about.aboutPodcasts" 
						 placeholder="About My Podcasts" markdownedit></textarea>
					</div>
				</div>
				<div class="form-group">
					<div class="checkbox">
						<label>
						  <input type="checkbox" data-ng-model="showLast"
						         data-ng-init="showLast=about.showLast"
						         name="showLast" id="showLast"> Show Most Recent Posts
						</label>
					</div>
				</div>

				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
				<div class="form-group">
					<input type="submit" id = "updateAboutMe" value="Update About Me" class="btn btn-primary">
				</div>
			</fieldset>
		</div>
	</div>
	</form>
<!-- Creating New About Me -->
	<div data-ng-if="abouts.$resolved && !abouts.length">
		<form data-ng-submit="create()" novalidate>
		<div class="row">
		<div class="col-md-8"  data-ng-hide="!showPreview">
			<div class="row">
				<div class="col-sm-4">
					<img data-ng-show="picture === ''" src="http://static.guim.co.uk/static/b6c135ec8e49127c7c87055af29b2d52c4011fc0/politics/images/defaultPoliticalPerson.gif" alt="My Avatar" height="100%" width="100%" />
					<img data-ng-hide="picture === ''" src={{picture}} alt="My Avatar" height="100%" width="100%" />
				</div>
				<div class="col-sm-8 pod-blog">
					<p><a class="text-muted">Name: </a><b>{{name}}</b></p>
					<p><a class="text-muted">Email: </a><b>{{email}}</b></p>
					<markdown bind-from="aboutMe"></markdown>
				</div>
				<div class="col-sm-8">
					<h2>About My Podcasts</h2>
					<div class="pod-blog">
						<markdown bind-from="aboutPodcasts"></markdown>
					</div>
				</div>
			</div>
			<br />
			<div style="clear: both;"></div>
			<br />
			<h2 class="list-group-item-heading" data-ng-hide="!showLast"><b>Most Recent Posts</b></h2>
			<br />
			<p class="text-muted" data-ng-hide="!showLast">A list of your most recent posts would be displayed here</p>
			<br />
		</div>
		<div data-ng-class="{'col-md-4': showPreview, 'col-md-12': !showPreview}">
			<fieldset>
				<div class="form-group">
					<label class="control-label" for="name">Name</label>
					<div class="controls">
						<input type="text" data-ng-model="name" name="name" id="name" class="form-control"
						 data-ng-init="name=authentication.user.displayName" placeholder="Name" />
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="email">Email</label>
					<div class="controls">
						<input type="text" data-ng-model="email" name="email" id="email" class="form-control"
						 data-ng-init="email=authentication.user.email" placeholder="Email" />
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="picture">Picture</label>
					<div class="controls">
						<input type="text" data-ng-model="picture" id="picture" class="form-control"
						 data-ng-init="picture=''" placeholder="A link to your picture" />
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="about">About Me</label>
					<div class="controls">
						<textarea data-ng-model="aboutMe" name="aboutMe" id="aboutMe" class="form-control" cols="30" rows="5"
						 data-ng-init="aboutMe=about.about" placeholder="About Me" markdownedit></textarea>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="aboutPodcasts">About My Podcasts</label>
					<div class="controls">
						<textarea data-ng-model="aboutPodcasts" name="aboutPodcasts" id="aboutPodcasts" class="form-control"
						 cols="30" rows="10" data-ng-init="aboutPodcasts=about.aboutPodcasts" 
						 placeholder="About My Podcasts" markdownedit></textarea>
					</div>
				</div>
				<div class="form-group">
					<div class="checkbox">
						<label>
						  <input type="checkbox" data-ng-model="showLast"
						         data-ng-init="showLast=about.showLast"
						         name="showLast" id="showLast"> Show Most Recent Posts
						</label>
					</div>
				</div>

				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
				<div class="form-group">
					<input type="submit" value="Update About Me" class="btn btn-primary">
				</div>
			</fieldset>
		</div>
		</div>
		</form>
	</div>
<!-- End -->
	</div>
	<div data-ng-hide="!abouts.$resolved ||((authentication.user) && (authentication.user.username == 'admin'))">
		<div class="alert alert-warning text-center">
		You're not authorized to access this page. Perhaps you need to <a href="/#!/signin" class="text-primary">sign in?</a>
		</div>
	</div>
</section>