<section data-ng-controller="PodcastsController" data-ng-init="find()">
    <div class="page-header">
        <h1 class="browse-pod-left">Podcasts</h1>
        <div ng-hide="currentPage != 1">
			<select data-ng-model="filter.category" name="category" class="browse-pod-dropdown" ng-init="category = 'All'" >
				<option value="" selected>All</option>
	            <option value="Misc">Miscellaneous</option>
	            <option value="Sports">Sports</option>
	            <option value="Comedy">Comedy</option>
	            <option value="Entertainment">Entertainment</option>
	            <option value="News">News</option>
	        </select>
	        <span><h3 class="browse-pod-right">Filter:</h3>
	        <input data-ng-model="search.name" placeholder="Search by name" class="browse-pod-search-bar"/>
	    </div>
    </div>
    <div style="clear: both;"></div>
    <br>
	<section data-ng-hide="currentPage <= 0 || currentPage*perPage - perPage >= (podcastsf=(podcastsS=(podcasts | filter:search) | filter:filter)).length">
		<div class="list-group">
		<!-- Look into orderBy AND filter in same query -->
			<a data-ng-repeat="podcast in podcastsf=(podcastsS=(podcasts | filter:search) | filter:filter).slice((currentPage-1)*perPage,currentPage*perPage)" data-ng-href="#!/podcasts/{{podcast._id}}" class="list-group-item">
				<small class="list-group-item-text">
					<p class="browse-pod-left">
					Posted on
					<span data-ng-bind="podcast.created | date:'medium'"></span>
					by
					<span data-ng-bind="podcast.user.displayName"></span></p>
					<strong class="browse-pod-right" data-ng-bind="podcast.category"></strong>
				</small>
				<div style="clear: both;"></div>
				<div class="pull-left">
				<h3 class="list-group-item-heading" data-ng-bind="podcast.name"></h3>
				<p class="lead" data-ng-bind="podcast.blurb"></p></div>
				<img data-ng-hide="podcast.podIcon === ''" src={{podcast.podIcon}} alt="Icon" style="width:80px;height:80px" class="pull-right">
				<div style="clear: both;"></div>
			</a>
		</div>
		<div class="pull-right">
			<ul class="pagination pagination-lg">
				<li data-ng-hide="currentPage <= 1"><a href="/#!/podcasts/browse/{{currentPage-1}}">Prev</a>
				<li data-ng-class="{true: 'active', false: ''}[currentPage === $index + 1]" ng-repeat="i in getNumber(podcastsf=(podcastsS=(podcasts | filter:search) | filter:filter).length/perPage) track by $index"><a href="/#!/podcasts/browse/{{$index+1}}">{{$index+1}}</a></li>
				<li data-ng-hide="podcastsf=(podcastsS=(podcasts | filter:search) | filter:filter).length <= currentPage*perPage"><a href="/#!/podcasts/browse/{{currentPage+1}}">Next</a>
			</ul>
		</div>
	</section>
    <div class="alert alert-warning text-center" data-ng-hide="!podcasts.$resolved || podcasts.length">
    	No Podcasts yet, why don't you <a href="/#!/podcasts/create">create one</a>?
    </div>
	<div class="alert alert-warning text-center" data-ng-hide="!podcasts.$resolved || ((currentPage > 0) && (currentPage*perPage - perPage < podcasts.length)) || podcasts.length === 0">
    	Nothing seems to be here.
    </div>
</section>
