<section data-ng-controller="PodcastsController">
	<div class="page-header">
		<h1>Create New Podcast</h1>
	</div>
	<div data-ng-show="((authentication.user) && (authentication.user.username == 'admin'))">	
	<div class="col-md-12">
		<form class="form-horizontal" data-ng-submit="create()" novalidate>
			<fieldset>
				<div class="form-group">
					<label class="control-label" for="name">Name</label>
					<div class="controls">
						<input type="text" data-ng-model="name" name="name" id="name" class="form-control" placeholder="Name" required />
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="audio">Audio</label>
					<input type="file" 
						   name="audio"
						   id="audio"
						   file />
				</div>
				<div class="form-group">
					<label class="control-label" for="video">Video</label>
					<input type="file"
						   name="video"
						   id="video"
						   video-file />
				</div>
				<div class="form-group">
					<label class="control-label" for="blurb">Abstract (120 character limit)</label>
					<div class="controls">
						<input type="text" data-ng-model="blurb" name="blurb" id="blurb" class="form-control" maxlength="120"
						 placeholder="A short description" />
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="blog">Blog</label>
					<ul class="nav nav-tabs">
					  <li role="presentation" data-ng-class="{active: !showPreview}"><a data-ng-click="showPreview = false" href="">Edit</a></li>
					  <li role="presentation" data-ng-class="{active: showPreview}"><a data-ng-click="showPreview = true" href="">Preview</a></li>
					</ul>
					<div class="controls">
						<div data-ng-hide="showPreview">
							<textarea data-ng-model="blog" name="blog" markdownedit id="blog" class="form-control" cols="30" rows="10" placeholder="Your blog"></textarea>
						</div>
						<div data-ng-hide="!showPreview" class="panel panel-default">
							<div class="panel-body fixed-panel">
								<markdown bind-from="blog"></markdown>
							</div>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-1 control-label" for="category">Category</label>
					<div class="col-sm-4">
						<select data-ng-model="category" id="category" name="category" class="form-control"
						        data-ng-init="category='Misc'">
							<option value="Misc">Miscellaneous</option>
							<option value="Sports">Sports</option>
							<option value="Comedy">Comedy</option>
							<option value="Entertainment">Entertainment</option>
							<option value="News">News</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label for="series" class="col-sm-1 control-label">Series</label>
					<div class="col-sm-4">
						<input type="text" id="series" data-ng-model="series" placeholder="Series this podcast is a part of" class="form-control" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-1 control-label" for="icon">Icon</label>
					<div class="col-sm-4">
						<input type="text" id="icon" data-ng-model="podIcon" placeholder="Link to desired icon (80x80p)" class="form-control" data-ng-init="podIcon = ''" />
					</div>
					<div class="col-sm-6">
						<img data-ng-hide="podIcon === ''" src={{podIcon}} alt="Icon" class="pod-icon" />
						<span data-ng-show="podIcon === ''">
							<img src="{{defaultPodIcon}}" alt="Default Icon" class="pod-icon" />
						</span>
					</div>
				</div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
				<div class="form-group">
					<input type="submit" value="Create Podcast" class="btn btn-default">
				</div>
			</fieldset>
		</form>
	</div>
	</div>
	<div data-ng-hide="((authentication.user) && (authentication.user.username === 'admin' ))">
		<div class="alert alert-warning text-center">
		You're not authorized to access this page. Perhaps you need to <a href="/#!/signin" class="text-primary">sign in?</a>
		</div>
	</div>
</section>
