<section data-ng-controller="PodcastsController" data-ng-init="findOne()">
	<div data-ng-show="((authentication.user) && (authentication.user._id == podcast.user._id))">
    <div class="page-header">
        <h1>Edit Podcast</h1>
	</div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="update()">
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="name">Name</label>
                    <div class="controls">
                        <input type="text" data-ng-model="podcast.name" name="name" id="name" class="form-control" placeholder="Name" required>
                    </div>
                </div>
				<div class="form-group">
                    <label class="control-label" for="blurb">Abstract (120 character limit)</label>
                    <div class="controls">
                        <textarea data-ng-model="podcast.blurb" name="blurb"  id="blurb" class="form-control" cols="30" rows="1" maxlength="120" placeholder="A short description"></textarea>
                    </div>
                </div>
				<div class="form-group">
                    <label class="control-label" for="name">Blog</label>
                    <div class="controls">
                        <textarea data-ng-model="podcast.blog" name="blog"  id="blog" class="form-control" cols="30" rows="10" placeholder="Your blog"></textarea>
                    </div>
                </div>
				<div class="form-group">
					<input type="file" 
						   accept=".mp3, .ogg, .wav" 
						   name="audio"
						   id="audio"
						   file-model="myFile" />
			    </div>
				<div class="form-group">
                    Current File Name: <span data-ng-bind="podcast.audioOriginal"></span>
                </div>
                <div class="form-group">
                <h4 class="browse-pod-left">Podcast Category: </h4>
					<select data-ng-model="podcast.category" name="category" class="create-pod-dropdown">
                        <option value="Misc">Miscellaneous</option>
                        <option value="Sports">Sports</option>
                        <option value="Comedy">Comedy</option>
                        <option value="Entertainment">Entertainment</option>
                        <option value="News">News</option>
                    </select>
			    </div>
                <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-default">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
				<span data-ng-bind="searchText"></span>
            </fieldset>
        </form>
    </div>
	</div>
	<div data-ng-hide="!podcast.$resolved ||((authentication.user) && (authentication.user._id == podcast.user._id))">
	    <div class="page-header">
			<h1>Edit Podcast</h1>
		</div>
		<div class="alert alert-warning text-center">
		You're not authorized to access this page. Perhaps you need to <a href="/#!/signin">sign in?</a>
		</div>
	</div>
</section>
