<section data-ng-controller="PodcastsController" data-ng-init="find()">
<section data-ng-if="((authentication.user) && (authentication.user.username == 'admin'))">
	<div class="page-header">
		<b class="browse-pod-left big-text-pod">Your Episodes</b>
		<br /><br />
		<div class="col-xs-3 pull-right top-buffer bottom-buffer">
			<div class="inner-addon left-addon">
				<i class="glyphicon glyphicon-search"></i>
				<input type="search" data-ng-model="search.name" placeholder="Search by name" class="form-control"></input>
			</div>
		</div>
	</div>
	<div style="clear: both;"></div>
	<div class="pull-left btn-group-vertical col-md-3">
		<!-- Categories Tab -->
		<label name="category" ng-init="$parent.seriesRadio.category = ''" class="btn btn-primary btn-md" data-ng-model="$parent.seriesRadio.category" btn-radio="'{{category_name}}'" data-ng-repeat="category_name in getCategoryArr(podcasts)">
			<span ng-hide="category_name === ''" class="pull-left series-radio-txt">{{category_name}}</span>
			<span ng-show="category_name === ''" class="pull-left series-radio-txt">All Categories</span>
			<i class="pull-right series-radio-txt glyphicon glyphicon-chevron-right"></i>
			<div style="clear: both;"></div>
		</label>
	</div>
	<div class="list-group col-md-9 pull-right"
	     data-ng-hide="(podcastsf=(podcastsS=(podcastsR=(podcasts | filter:seriesRadio) | filter:search) | filter:filter)).length === 0">
	<!-- Look into orderBy AND filter in same query -->
		<span data-ng-repeat="podcast in podcastsf=(podcastsS=(podcastsR=(podcasts | filter:seriesRadio) | filter:search) | filter:filter)" class="list-group-item">
			<small class="list-group-item-text">
				<div class="row">
					<p class="col-md-6 text-left">
					Posted on
					<span data-ng-bind="podcast.created | date:'medium'"></span>
					by
					<span data-ng-bind="podcast.user.displayName"></span></p>
					<strong class="col-md-6 text-right">
						{{podcast.category}},
						<span data-ng-hide="podcast.isBlog">Episode</span>
						<span data-ng-hide="!podcast.isBlog">Blog Post</span>
					</strong>
				</div>
			</small>
			<div style="clear: both;"></div>
			<div class="row">
				<div class="pull-left col-md-10">
					<span data-ng-init="showEdit = false">
						<h3 class="list-group-item-heading" data-ng-click="showEdit=true" data-ng-show="!showEdit">
							<strong>{{podcast.name}}</strong>
						</h3>
						<form data-ng-show="showEdit" data-ng-submit="saveByRef(podcast); showEdit=false">
							<input type="text" class="form-control edit-name" data-ng-model="podcast.name" required />
						</form>
					</span>
					<span data-ng-init="showEditAb = false">
						<p class="lead" data-ng-bind="podcast.blurb" data-ng-click="showEditAb=true" 
						   data-ng-show="!showEditAb"></p>
					    <form data-ng-show="showEditAb" data-ng-submit="saveByRef(podcast); showEditAb=false">
							<input type="text" class="form-control" data-ng-model="podcast.blurb" />
						</form>
					</span>
				</div>
				<div class="pull-right">
					<img data-ng-hide="podcast.podIcon === ''" src={{podcast.podIcon}} alt="Icon" class="pod-icon pod-icon-right">
				</div>
			</div>
			<div style="clear: both;"></div>
			<span class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == podcast.user._id))">
				<a title="Edit Podcast" class="btn btn-sm btn-success" href="/#!/podcasts/{{podcast._id}}/edit">
					<i class="glyphicon glyphicon-edit"></i>
				</a>
				<a title="Delete Podcast" id = "trash" class="btn btn-sm btn-success" data-ng-click="removeByID(podcast._id);">
					<i class="glyphicon glyphicon-trash"></i>
				</a>
			</span>
			<div style="clear: both;"></div>
        </span>
	</div>
	<div class="alert alert-warning text-center col-md-9 pull-right" data-ng-hide="!podcasts.$resolved || podcasts.length">
		No Podcasts yet, why don't you <a href="/#!/podcasts/create" class="text-primary">create one?</a>
	</div>
	<div class="alert alert-warning text-center col-md-9 pull-right" data-ng-show="podcasts.$resolved && (podcastsf=(podcastsS=(podcastsR=(podcasts | filter:seriesRadio) | filter:search) | filter:filter)).length === 0 && podcasts.length > 0">
		Your search yielded no results.
	</div>
</section>
<div data-ng-hide="((authentication.user) && (authentication.user.username == 'admin'))">
	<div class="alert alert-warning text-center errortop">
	You're not authorized to access this page. Perhaps you need to <a href="/#!/signin" class="text-primary">sign in?</a>
	</div>
</div>
</section>
