<section data-ng-controller="PodcastsController" data-ng-init="findOne(); defined()">
<div data-ng-hide="podname.innerHTML === ''">
	<div class="page-header">
		<div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == podcast.user._id))">
			<a class="btn btn-primary" href="/#!/podcasts/{{podcast._id}}/edit">
				<i class="glyphicon glyphicon-edit"></i>
			</a>
			<a class="btn btn-primary" data-ng-click="remove();">
				<i class="glyphicon glyphicon-trash"></i>
			</a>
		</div>
		<h1 id="pname" data-ng-bind="podcast.name"></h1>
		<small>
			<em class="text-muted">
				Posted on
				<span data-ng-bind="podcast.created | date:'mediumDate'"></span>
				by
				<span data-ng-bind="podcast.user.displayName"></span>
                <br />
                <strong>Category:
                <span data-ng-bind="podcast.category"></span></strong>
			</em>
		</small>
	</div>
	<div class="podcast">
		<audio controls data-ng-src="{{getAudioUrl()}}"></audio>
		<div class="newline">
			<p class="lead" data-ng-bind="podcast.blog"></p>
		</div>
	</div>
	<div class="product-social-links">
		<a href="https://twitter.com/share" class="twitter-share-button" data-text="Check out this cool podcast" data-via="podcast_manager">Tweet</a>
		<script type="text/javascript-lazy">!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
		<div class="fb-like"
		  data-href="https://developers.facebook.com/docs/plugins/" 
		  data-layout="button_count" 
		  data-action="like" 
		  data-show-faces="false" 
		  data-share="true"></div>
		  <!-- data-href="https://lbcqrcfwju.localtunnel.me/#!/podcasts/{{podcast._id}}" -->
	</div>
</div>
	<div class="alert alert-warning text-center errortop" data-ng-hide="!podcast.$resolved || podname.innerHTML !== ''">
    	Not a valid podcast. Perhaps it's been deleted?
    </div>
</section>
