<section id="myDiv" data-ng-controller="PodcastsController" data-ng-init="findOne(); defined()">
<div data-ng-hide="podname.innerHTML === ''">
	<div class="page-header">
		<div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == podcast.user._id))">
			<a title="Edit Podcast" class="btn btn-primary" href="/#!/podcasts/{{podcast._id}}/edit">
				<i class="glyphicon glyphicon-edit"></i>
			</a>
			<a title="Delete Podcast" class="btn btn-primary" data-ng-click="remove();">
				<i class="glyphicon glyphicon-trash"></i>
			</a>
		</div>
		<h1 id="pname" data-ng-bind="podcast.name"></h1>
		<small>
			<em class="text-muted">
				<div class="pull-left">
					Posted on
					<span data-ng-bind="podcast.created | date:'mediumDate'"></span>
					by
					<span data-ng-bind="podcast.user.displayName"></span>
	                <br />
	                <strong>Category:
	                <span data-ng-bind="podcast.category"></span></strong>
					<div data-ng-if="!podcast.isBlog">
						Total views: <span id="totalViews">{{getListen()}}</span>
						<br />
						Average Listen: <span id="avgListen">{{getAvgSeconds()}}</span>
						seconds
						<br />
						<a data-ng-show="podcast.audio != 'No file selected'" href="https://s3.amazonaws.com/podcast-manager/{{podcast.audio}}" download>Download Audio</a>
					</div>
            	</div>
                <img data-ng-hide="podcast.podIcon === ''" src={{podcast.podIcon}} alt="Icon" style="width:80px;height:80px" class="view-pod-img">
                <div style="clear: both;"></div>
			</em>
		</small>
	</div>
	<span data-ng-if="!podcast.isBlog">
		<audio class="col-xs-12" id="audio" controls data-ng-src="{{getAudioUrl()}}"></audio>
	</span>
	<div class="pod-blog col-xs-push-2 col-xs-8">
		<br /><br />
		<markdown bind-from="podcast.blog"></markdown>
	</div>

	<div style="clear: both;"></div>
	<div class="newline"></div>
	<div class="product-social-links">
		<a href="https://twitter.com/share" class="twitter-share-button" data-text="Check out this cool podcast" data-via="podcast_manager">Tweet</a>
		<script type="text/javascript-lazy">!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
		<div class="fb-like"
		  data-href="{{tunnel}}/#!/podcasts/{{podcast._id}}"
		  data-layout="button_count" 
		  data-action="like" 
		  data-show-faces="false" 
		  data-share="true"></div>
		  <!-- data-href="https://lbcqrcfwju.localtunnel.me/#!/podcasts/{{podcast._id}}" -->
		  <!-- data-href="https://developers.facebook.com/docs/plugins/"  -->
	</div>
	<br />
	<div class="fb-comments col-xs-push-3" data-href="{{tunnel}}/#!/podcasts/{{podcast._id}}" data-numposts="5" data-colorscheme="light"></div>
</div>
	<div class="alert alert-warning text-center errortop" data-ng-hide="!podcast.$resolved || podname.innerHTML !== ''">
    	Not a valid podcast. Perhaps it's been deleted?
    </div>
</section>
