<section id="myDiv" data-ng-controller="PodcastsController" data-ng-init="findOne(); defined()">

<div data-ng-hide="podname.innerHTML === ''">
	<div class="page-header">
		<div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == podcast.user._id))">
			<a title="Edit Podcast" class="btn btn-primary" href="/#!/podcasts/{{podcast._id}}/edit">
				<i class="glyphicon glyphicon-edit"></i>
			</a>
			<a title="Delete Podcast" class="btn btn-primary" data-ng-click="remove();">
				<i class="glyphicon glyphicon-trash"></i>
			</a>
		</div>
		<h1 id="pname" data-ng-bind="podcast.name"></h1>
		<small>
			<em class="text-muted">
				<div class="pull-left">
					Posted on
					<span data-ng-bind="podcast.created | date:'mediumDate'"></span>
					by
					<span data-ng-bind="podcast.user.displayName"></span>
	                <br />
	                <strong>Category:
	                <span data-ng-bind="podcast.category"></span></strong>
					<div data-ng-if="!podcast.isBlog">
						Total views: <span id="totalViews">{{getListen()}}</span>
						<br />
						Average Listen: <span id="avgListen">{{getAvgSeconds()}}</span>
						seconds
					</div>
            	</div>
                <img data-ng-hide="podcast.podIcon === ''" src={{podcast.podIcon}} alt="Icon" style="width:80px;height:80px" class="view-pod-img">
                <div style="clear: both;"></div>
			</em>
		</small>
	</div>
	<span data-ng-if="!podcast.isBlog">
		<audio class="col-xs-12" id="audio" controls data-ng-src="{{getAudioUrl()}}"></audio>
	</span>
	
<!--
	<script type="text/javascript-lazy">
		var timer;
	
		function start() {
		var number = angular.element($('#myDiv')).scope().incrementTotalSeconds();
		document.getElementById("avgListen").innerHTML = angular.element($('#myDiv')).scope().getAvgSeconds();
		}
		
		function play() {
		increment();
		timer = setInterval(start, 1000);
		}
		
		function increment() {
		angular.element($('#myDiv')).scope().updateListens();
		document.getElementById("totalViews").innerHTML = angular.element($('#myDiv')).scope().getListen();
		}
	
   		audio.addEventListener('play', play);
		audio.addEventListener('pause', function() { clearInterval(timer)} );
		audio.addEventListener('ended', function() { clearInterval(timer)} );
		
	</script>
-->
	
	
	<div class="pod-blog col-xs-push-2 col-xs-8">
		<br><br>
		<markdown bind-from="podcast.blog"></markdown>
	</div>

	<div style="clear: both;"></div>
	<div class="newline"></div>
	<div class="product-social-links">
		<a href="https://twitter.com/share" class="twitter-share-button" data-text="Check out this cool podcast" data-via="podcast_manager">Tweet</a>
		<script type="text/javascript-lazy">!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
		<div class="fb-like"
		  data-href="https://lbcqrcfwju.localtunnel.me/#!/podcasts/{{podcast._id}}" 
		  data-layout="button_count" 
		  data-action="like" 
		  data-show-faces="false" 
		  data-share="true"></div>
		  <!-- data-href="https://lbcqrcfwju.localtunnel.me/#!/podcasts/{{podcast._id}}" -->
		  <!-- data-href="https://developers.facebook.com/docs/plugins/"  -->
	</div>
	<br />
	<div class="fb-comments col-xs-push-3" data-href="https://lbcqrcfwju.localtunnel.me/#!/podcasts/{{podcast._id}}" data-numposts="5" data-colorscheme="light"></div>
<!-- Old Commenting System
	<div>
		<h2>Comments:</h2>
		<div class="row">
			<form class="form-horizontal" data-ng-submit="createComment()" novalidate>
				<fieldset>
					<div class="form-group-sm col-md-5">
						<div class="controls">
							<textarea data-ng-model="comText" name="comText" id="comText" class="form-control" cols="30" rows="100" maxlength="500" max-width="30" max-height="10" placeholder="Thoughts on the podcast?"></textarea>
						</div>
					</div>
					<div class="form-group">
	                    <input type="submit" value="Post Comment" class="btn btn-default col-xs-push-6">
	                </div>
				</fieldset>
			</form>
		</div>
		<div class="list-group" data-ng-model="podcast.comments.length">
			<a data-ng-repeat="n in [] | range:podcast.comments.length" class="list-group-item col-md-7 bottom-buffer">
				<span data-ng-bind="c = podcast.comments[podcast.comments.length - n - 1].split('|~!')" data-ng-hide=true></span>
				<p class="list-group-item-text" ng-hide="n >= podcast.comments.length">
					<p class="pull-left"><strong>{{c[0]}}</strong> posted:</p>
					<h6 class="pull-right">{{c[1] | date:'mediumDate'}}</h6>
					<h6 class="pull-right"><span class = "glyphicon glyphicon-thumbs-up" ng-click="incrementUpvotes(n)"></span>{{c[3]}} &nbsp &nbsp &nbsp </h6>
					<br><h4 class="col-xs-push-3">{{c[2]}}</h4>
					<div data-ng-show="((authentication.user) && (authentication.user._id == podcast.user._id))">
						<p title="Delete Comment" class="btn btn-sm pull-right" data-ng-click="deleteComment(podcast.comments.length - n - 1);">
							<i class="glyphicon glyphicon-trash"></i>
						</p>
					</div>
				</p>
				<div style="clear: both;"></div>
			</a>
		</div>
	</div>
-->
</div>
	<div ng-repeat="number in playbackLength">
		{{number}}
	</div>
	<div class="alert alert-warning text-center errortop" data-ng-hide="!podcast.$resolved || podname.innerHTML !== ''">
    	Not a valid podcast. Perhaps it's been deleted?
    </div>
</section>
