<section data-ng-controller="TestModulesController" data-ng-init="find()">
    <div class="page-header">
        <h1>Test modules</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="testModule in testModules" data-ng-href="#!/test-modules/{{testModule._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="testModule.created | date:'medium'"></span>
				by
				<span data-ng-bind="testModule.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="testModule.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!testModules.$resolved || testModules.length">
    	No Test modules yet, why don't you <a href="/#!/test-modules/create">create one</a>?
    </div>
</section>